* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:  monospace;
  
}
body{
    background-image: linear-gradient(rgb(166, 131, 171), rgb(169, 79, 133) 45.38%, rgb(67, 81, 170));}

.title{
    margin-bottom: 50px;
}
.container {
    width: 88%;
    height: 180vh;
    margin: auto;
}

.botonesnav{
    justify-content: center;
}

.menu {
    background-color: rgb(12, 11, 11);
    border-radius: 60px;
    width: 100%;
    height: 100px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    
}

.menu ul li {
    margin: 0 10px;
    line-height: 100px;
    font-size: 14px;
}

.menu ul li a {
    color: white;
    text-transform: uppercase;
}


.menu ul li img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-top: 0px;
    max-width: 100%;
}


.aboutme {
    width: 100%;
    margin-top: 150px;
}

.aboutme img {
    width: 100%;
    border-radius:1500em;
    margin-bottom: 70px;
}

.aboutme .contenido {
    text-align: center;
    font-size: 18;
}

.aboutme .contenido h1 {
    font-size: 34px;
    margin: 10px;
}

.tittleskills{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}
    
.containerskill {
    width: 100%;
}

.nombreskill{
    font-size: 25px;
}

.containerskill .skillshtml {
    background-color: rgb(91, 178, 96);
    animation: skillbarhtml 5s forwards;
    border-radius: 5px;
    height: 10px;
    margin: 10px 0px;
}

.containerskill .skillscss {
    background-color: rgb(208, 103, 58);
    animation: skillbarcss 4s forwards;
    border-radius: 5px;
    height: 10px;
    margin: 10px 0px;
}

.containerskill .skillsjs {
    background-color: rgb(243, 243, 153);
    animation: skillbarjs 5s forwards;
    border-radius: 5px;
    height: 10px;
    margin: 10px 0px;
}

@keyframes skillbarhtml {
    0% {
        width:0;
    }

    100% {
        width: 90%;
    }

}

@keyframes skillbarcss {
    0% {
        width: 90;
    }

    100% {
        width: 90%;
    }
}

@keyframes skillbarjs {

    0% {
        width: 0;
    }

    100% {
        width: 65%;
    }
}

.container main{
    margin-bottom: 300px;
}

.contact{
    background-color:rgba(44, 90, 237, 0.33);
    width: 55%;
    margin: 0 auto;
    border-radius: 20px ;
    margin-top: -235px;
}

.contact h2{
    text-align: center;
    color: rgb(60, 52, 52);
    margin:  20px;
    font-weight: bolder;
    font-size: 20px;
    height: 20px;
    padding-top: 25px;
}


#hello{
    width: 100%;
}  

.group{
    width: 100%;
    display: flex;
    justify-content: center;
}

.group input, .group textarea{
    width: 50%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    border-color: rgb(255, 255, 255);

}

.group input:focus, .group textarea:focus{
    border : 2px solid rgb(54, 35, 50);
}

.group .btn{
    margin: 10px 5px;
    width: 25%;
    background-color: rgb(54, 35, 50);
    border: none;
    border-radius: 5px;
    height: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

@media(max-width: 500px){
    .contact{
        width: 90%;
    }
    .group .btn{
        font-weight:lighter;
        font-size: 10px;
        width: 35%
    }
}

.mifoto{
    margin-top: 50px;
    border-radius: 70px;
}

.imagegit{
   display:flex;
   justify-content: space-around;
   margin: 10px;
   max-width: 100%;
}

@media screen and (min-width:300px) and (max-width:800px) {
    body{font-size:0.8em;}
    sidebar{display:none;}
    }

.ask{
    text-align: center;
    font-weight: bolder;
    margin: 10px 10px;
    font-size: 20px;
    color: rgb(56, 52, 60);
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}

.input{
   display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: column;
}

.imageslink{
    display: flex;
    justify-content: center;
}


.one{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 10px;
}

.input{
    margin: 8px;
}

@media (max-width: 800px) {
    .avatarcontainer {
        max-width: 35vw;
        margin-left: auto;
        margin-right: auto;
    }
  }
  
  @media (min-width: 800px) and (max-width: 1280px) {
    .avatarcontainer {
        max-width: 45vh;
        margin-left: auto;
        margin-right: auto;    
    }
  }
  
  @media (min-width: 1280px) {
    .avatarcontainer {
        max-width: 45vh;
        margin-left: auto;
        margin-right: auto;    }
  }
  @media (width < 500px) {
    .avatarcontainer {
        max-width: 35vw;
        margin-left: auto;
        margin-right: auto;
    }
  }